@use "./abstracts" as *;
$borderMenu: #ddd;
$heightMenuItem: 50px;

// * Menu Basic
.menu {
  background-color: $primaryColor;
  @include maxWidth($large) {
    background-color: #fff;
    overflow-y: auto;
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 999;
    box-shadow: $shadow2;
    transition: all ease-in-out 0.5s;
    &-show {
      left: 0;
      overflow: hidden;
    }
  }
  @include maxWidth($medium) {
    width: 50vw;
  }
  @include maxWidth($small) {
    width: 70vw;
    min-width: fit-content;
  }
  &-close {
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 80%;
    margin-block: 20px;
    background-color: #eee;
    border-radius: $border4;
    box-shadow: $shadow2;
    cursor: pointer;
    @include minWidth($large) {
      display: none;
    }
  }
}

// - Main menu
.menu {
  &-list {
    width: $container;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    @include flexbox(row, center, space-evenly, 15px);
    @include maxWidth($large) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: unset;
      width: 100%;
    }
  }
  &-item {
    position: relative;
    cursor: pointer;
    &:first-child {
      @include maxWidth($large) {
        .menu-item-wrapper {
          border: unset;
        }
      }
    }
    @include maxWidth($large) {
      width: 100%;
      cursor: pointer;
    }
  }
  &-icon {
    flex: 1 1 auto;
    display: block;
    min-height: 100%;
    @include maxWidth($large) {
      margin-right: 1px;
      line-height: $heightMenuItem;
      max-width: 50px;
      background-color: #fff;
      text-align: center;
      border-left: 1px solid $borderMenu;
      pointer-events: none;
      transition: all linear 0.3s;
    }
  }
  &-arrow {
    color: #fff;
    transition: $transition;
    @include maxWidth($large) {
      pointer-events: none;
      color: $primaryColor;
      transform: rotate(-90deg);
    }
  }
  &-link {
    flex: 0 0 auto;
    padding: 10px;
    display: inline-block;
    @include maxWidth($large) {
      display: block;
      padding-block: unset;
      line-height: $heightMenuItem;
    }
  }
  &-text {
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    @include maxWidth($large) {
      color: $primaryColor;
    }
  }
  &-wrapper {
    @include flexbox(row, center, space-between, null);
    @include maxWidth($large) {
      align-items: unset;
      border-top: 1px solid $borderMenu;
      padding-left: 15px;
    }
  }
}

// - Hover
.menu-item {
  &:hover {
    .menu {
      &-arrow {
        transform: rotateX(180deg);
        @include maxWidth($large) {
          transform: rotate(-90deg);
        }
      }
    }
    .sub-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.icon-show {
  background-color: $primaryColor;
  color: #fff;
  .menu-arrow {
    transform: unset !important;
    color: inherit;
  }
}

// - Sub Menu
.sub-menu {
  background-color: #fff;
  border-radius: $border12;
  max-width: 300px;
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 500;
  overflow: hidden;
  box-shadow: $shadow;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: $transition;
  // - Điều chỉnh Mobile
  @include maxWidth($large) {
    visibility: unset;
    opacity: unset;
    transform: unset;
    transition: all linear 0.3s;
    position: static;
    width: 100%;
    max-width: unset;
    border-radius: unset;
    box-shadow: unset;
    border-top: 1px solid $borderMenu;
    max-height: 0px;
  }
  &-item {
    background-color: #fff;
    transition: all linear 0.3s;
    border-top: 1px solid $borderMenu;
    @include maxWidth($large) {
      padding-left: 20px;
      border-bottom: 1px solid $borderMenu;
    }
    &:first-child,
    &:last-child {
      border-top: unset;
    }
    &:hover {
      background-color: #ddd;
      @include maxWidth($large) {
        background-color: unset;
      }
    }
  }
  &-link {
    & {
      padding: 10px 16px;
    }
    @include flexbox(row, center, flex-start, 8px);
    @include maxWidth($large) {
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
  &-image {
    max-width: 30px;
    border-radius: $border4;
    object-fit: cover;
    height: 100%;
  }
  &-text {
    color: $primaryColor;
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 600;
  }
}
