extend ./view/layout/layout.pug
//- Meu
block menu 
  include ./element/menu-1/menu-1.pug


append plugin 
  script(src="../../element/menu-1/menu-1.js")
  script(src="../../element/notification/noti.js")
