@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.menu {
  background-color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .menu {
    background-color: #fff;
    overflow-y: auto;
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
  }
  .menu-show {
    left: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .menu {
    width: 70vw;
    min-width: fit-content;
  }
}
.menu-close {
  border: none;
  width: 45px;
  height: 45px;
  margin-left: 80%;
  margin-block: 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .menu-close {
    display: none;
  }
}
.menu-modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all linear 0.3s;
}
.menu-modal-show {
  opacity: 1;
  visibility: visible;
}

.menu-list {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
}
.menu-list {
  display: flex;
}
.menu-list {
  flex-direction: row;
}
.menu-list {
  align-items: center;
}
.menu-list {
  justify-content: space-evenly;
}
.menu-list {
  gap: 15px;
}
@media screen and (max-width: 992px) {
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: unset;
    width: 100%;
  }
}
.menu-item {
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .menu-item:first-child .menu-item-wrapper {
    border: unset;
  }
}
@media screen and (max-width: 992px) {
  .menu-item {
    width: 100%;
    cursor: pointer;
  }
}
.menu-icon {
  flex: 1 1 auto;
  display: block;
  min-height: 100%;
}
@media screen and (max-width: 992px) {
  .menu-icon {
    margin-right: 1px;
    line-height: 50px;
    max-width: 50px;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #ddd;
    pointer-events: none;
    transition: all linear 0.3s;
  }
}
.menu-arrow {
  color: #fff;
  transition: all linear 0.3s;
}
@media screen and (max-width: 992px) {
  .menu-arrow {
    pointer-events: none;
    color: #1a2c75;
    transform: rotate(-90deg);
  }
}
.menu-link {
  flex: 0 0 auto;
  padding: 10px;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .menu-link {
    display: block;
    padding-block: unset;
    line-height: 50px;
  }
}
.menu-text {
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .menu-text {
    color: #1a2c75;
  }
}
.menu-wrapper {
  display: flex;
}
.menu-wrapper {
  flex-direction: row;
}
.menu-wrapper {
  align-items: center;
}
.menu-wrapper {
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .menu-wrapper {
    align-items: unset;
    border-top: 1px solid #ddd;
    padding-left: 15px;
  }
}

.menu-item:hover .menu-arrow {
  transform: rotateX(180deg);
}
@media screen and (max-width: 992px) {
  .menu-item:hover .menu-arrow {
    transform: rotate(-90deg);
  }
}
.menu-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.icon-show {
  background-color: #1a2c75;
  color: #fff;
}
.icon-show .menu-arrow {
  transform: unset !important;
  color: inherit;
}

.sub-menu {
  background-color: #fff;
  border-radius: 12px;
  max-width: 300px;
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all linear 0.3s;
}
@media screen and (max-width: 992px) {
  .sub-menu {
    visibility: unset;
    opacity: unset;
    transform: unset;
    transition: all linear 0.3s;
    position: static;
    width: 100%;
    max-width: unset;
    border-radius: unset;
    box-shadow: unset;
    max-height: 0px;
  }
}
.sub-menu-item {
  background-color: #fff;
  transition: all linear 0.2s;
}
@media screen and (max-width: 992px) {
  .sub-menu-item {
    border-top: 1px solid #ddd;
    padding-left: 20px;
  }
}
.sub-menu-item:hover {
  background-color: rgba(221, 221, 221, 0.9);
}
.sub-menu-item:hover span {
  color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .sub-menu-item:hover {
    background-color: unset;
  }
}
.sub-menu-link {
  padding: 10px 16px;
}
.sub-menu-link {
  display: flex;
}
.sub-menu-link {
  flex-direction: row;
}
.sub-menu-link {
  align-items: center;
}
.sub-menu-link {
  justify-content: flex-start;
}
.sub-menu-link {
  gap: 8px;
}
@media screen and (max-width: 992px) {
  .sub-menu-link {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
}
.sub-menu-image {
  max-width: 30px;
  border-radius: 4px;
  object-fit: cover;
  height: 100%;
}
.sub-menu-text {
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  text-wrap: nowrap;
}

.bottomright {
  position: fixed;
  bottom: 0px;
  right: 20px;
  transform: translateY(120px);
  z-index: 900;
  animation: bottomAnimation 3s linear 1s 1 forwards;
}

.bottomleft {
  position: fixed;
  bottom: 0px;
  left: 20px;
  transform: translateY(120px);
  z-index: 900;
  animation: bottomAnimation 3s linear 1s 1 forwards;
}

@keyframes bottomAnimation {
  20%, 80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(120px);
  }
}
.topright {
  position: fixed;
  top: 15px;
  right: 20px;
  transform: translateY(-130px);
  z-index: 900;
  animation: topAnimation 3s linear 1s 1 forwards;
}

.topleft {
  position: fixed;
  top: 15px;
  left: 20px;
  transform: translateY(-130px);
  z-index: 900;
  animation: topAnimation 3s linear 1s 1 forwards;
}

@keyframes topAnimation {
  20%, 80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-130px);
  }
}
.noti {
  display: flex;
}
.noti {
  flex-direction: row;
}
.noti {
  align-items: stretch;
}
.noti {
  justify-content: flex-start;
}
.noti {
  gap: 6px;
}
.noti {
  max-width: 300px;
  height: 110px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .noti {
    max-width: 250px;
  }
}
.noti-avatar {
  flex: 0 0 35%;
  max-width: 35%;
}
@media screen and (max-width: 576px) {
  .noti-avatar {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
.noti-avatar img {
  width: 90px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 576px) {
  .noti-avatar img {
    width: 70px;
  }
}
.noti-content {
  font-family: "Inter", sans-serif;
  padding-right: 10px;
}
@media screen and (max-width: 576px) {
  .noti-content {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
.noti-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: #1a2c75;
}
@media screen and (max-width: 576px) {
  .noti-title {
    font-size: 14px;
  }
}
.noti-paragraph {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #333;
  margin-top: 4px;
}
.noti-time {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.8);
}

/*# sourceMappingURL=element.css.map */
