- 
  var accordions = [
    {
      question: "Chất liệu gì thường được sử dụng để làm cho chai thuỷ tinh ?",
      answer: "Chất liệu thường được sử dụng để làm cho chai thuỷ tinh là thủy tinh silicat, được sản xuất từ quặng đá vôi, đá vôi trắng, cát thủy tinh và các chất phụ gia khác. Chất liệu này đem lại tính năng độ trong suốt, độ bền, và tính kháng hóa học cho chai thuỷ tinh."
    },
    {
      question: "Công dụng của chai thuỷ tinh trong lĩnh vực nào ?",
      answer: "Chai thuỷ tinh được sử dụng trong nhiều lĩnh vực, chẳng hạn như đóng gói thực phẩm, đồ uống, dược phẩm, mỹ phẩm, hoá chất và nhiều sản phẩm khác. Chai thuỷ tinh giúp bảo quản sản phẩm trong môi trường không khí, đồng thời giúp duy trì chất lượng, hương vị, và giá trị dinh dưỡng của sản phẩm."
    },
    {
      question: "Làm thế nào để làm sạch chai thuỷ tinh một cách hiệu quả ?",
      answer: "Để làm sạch chai thuỷ tinh một cách hiệu quả, bạn có thể sử dụng nước ấm hoặc nước nóng pha loãng kết hợp với chất tẩy rửa nhẹ. Dùng bàn chải mềm hoặc giẻ mềm để rửa sạch bên trong và bên ngoài chai, sau đó rửa sạch bằng nước sạch và để khô tự nhiên."
    },
    {
      question: "Có những dạng chai thuỷ tinh nào thường được sử dụng trong ngành công nghiệp thực phẩm và đồ uống ?",
      answer: "Có nhiều dạng chai thuỷ tinh phổ biến trong ngành công nghiệp thực phẩm và đồ uống, chẳng hạn như chai thủy tinh lọ, chai thủy tinh nắp nhựa, chai thủy tinh ly, chai thủy tinh tia UV, chai thủy tinh hình dáng đặc biệt, v.v. Mỗi dạng chai thuỷ tinh có đặc điểm và ứng dụng riêng, phù hợp với từng loại sản phẩm và nhu cầu sử dụng khác nhau."
    },
  ]
.accordion
  .container 
    .accordion-wrapper
      each item in accordions
        .accordion-item 
          .accordion-title
            i.fa.fa-angle-down(aria-hidden="true")
            span=item.question
          .accordion-answer 
            p.accordion-answer-inner=item.answer 
