@use "../../abstracts" as *;
.copyright {
  background-color: $primaryColor;
  padding-block: 15px;
  border-top: 1px solid $borderColor;
  p {
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
}

.modal {
  background-color: rgba($color: #000000, $alpha: 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  position: fixed;
  inset: 0;
  z-index: 900;
  &-show {
    @include maxWidth($large) {
      visibility: visible;
      opacity: 1;
    }
  }
}
