// * Hover menu item
@mixin hoverUnderline($color, $transition) {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: $color;
  transition: $transition;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-13px);
}
