header#header.header 
  .container 
    .header-main 
      .header-left 
        a.header-logo(href="./index.html", rel="noopener noreferrer")
          img(src="../../images/logo/iSOGLASS-logo.jpg", alt="Logo iSOGLASS Chuyên Sản xuất Chai thủy tinh và Ly thủy tinh theo tiêu chuẩn iSO tại TP.HCM", srcset="../../images/logo/iSOGLASS-logo.jpg 2x")
      .header-right 
        button.header-right-menu 
          i.fa.fa-reorder(aria-hidden="true")
          span Menu 
        a.header-right-hotline(href="tel:0963181517", target="_blank", rel="noopener noreferrer nofollow") 
          i.fa.fa-phone-square(aria-hidden="true")
          span.header-right-hotline-text Hotline: 
          span 0963 181 517