doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Source Frontend của Thành
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    link(rel="stylesheet", href="../vendor/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="../style/main.css")
    link(rel="stylesheet", href="../style/element.css")
  body 
    //- Header
    include ./header/topbar.pug
    include ./header/header.pug
    block menu 
    block main 
    //- Footer
    include ./footer/prefooter.pug
    include ./footer/footer.pug
    include ./footer/copyright.pug
    //- Plugin
    script(src="../js/main.js") 