@use "../../sass/abstracts" as *;
.gallery {
  &-wrapper {
    --columns: 5;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 15px;
    @include maxWidth($large) {
      --columns: 4;
    }
    @include maxWidth($medium) {
      --columns: 3;
    }
    @include maxWidth($small) {
      --columns: 2;
      gap: 10px;
    }
  }
  &-item {
    border-radius: $border12;
    box-shadow: $shadow2;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: $border12;
      object-fit: cover;
      transform: scale(1);
      transition: $transition;
      cursor: pointer;
    }
    &:hover {
      img {
        transform: scale(1.07);
      }
    }
  }
}

.lightbox {
  background-color: rgba($color: #000000, $alpha: 0.9);
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 999;
  overflow: hidden;
  &-header {
    @include flexbox(row, center, space-between, 15px);
    & {
      padding-inline: 20px;
      cursor: pointer;
    }
  }
  &-left {
    span {
      color: #fff;
    }
  }
  &-right {
    @include flexbox(row, center, space-around, 10px);
    & button {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 10px;
      color: #eee;
      cursor: pointer;
      padding-block: 15px;
      i.fa {
        font-size: 20px;
        pointer-events: none;
      }
    }
  }
  &-body {
    @include flexbox(row, center, space-between, 20px);
    & {
      height: 90%;
      padding: 20px;
      cursor: pointer;
    }
    i.fa {
      color: #fff;
    }
    & button {
      @include squareBox(50px);
      @include flexbox(row, center, center, null);
      & {
        flex: 0 0 10%;
        max-width: 50px;
      }
    }
  }
  &-image {
    @include flexbox(row, center, center, null);
    & {
      height: fit-content;
    }
    img {
      max-width: 100%;
      height: 600px;
      // margin-bottom: auto;
      object-fit: cover;
      border-radius: $border12;
      cursor: zoom-in;
      transition: all linear 0.3s;
    }
  }
  &-pre,
  &-next {
    background-color: transparent;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
}
